<label>Topic</label>
<input type="text" name="topic" value="<%= ticket.topic %>">
<br>
<label>Name</label>
<input type="text" name="name" value="<%= ticket.name %>">
<br>
<label>Phone Number</label>
<input type="text" name="phone_number" value="<%= ticket.phone_number %>">
<br>
<label>E-mail</label>
<input type="text" name="e_mail" value="<%= ticket.e_mail %>">
<br>
<label>Message</label>
<input type="text" name="message" value="<%= ticket.message %>">
<br>